body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 40px;
}

:root {
  --border: solid black 1px;
}

.hero {
  background-color: rgb(249, 183, 183);
  color: white;
  height: 450px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.sub-section {
  height: 450px;
  background-color: white;
  display: flex;
}

.sub-section-alternative {
  height: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid black 1px;
}

footer {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-align: center;
}

h2 {
  font-size: 45px;
}

.form_input {
  height: 50px;
  border-radius: 15px;
  margin: 10px;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.text {
  height: 150px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: pink;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.button:hover {
  background-color: crimson;
}

.button:active {
  background-color: darkslategray;
  color: darkmagenta;
}

header {
  background-color: rgb(249, 183, 183);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-area {
  display: flex;
  flex-grow: 1;
  height: 40px;
}

.hamburger {
  display: flex;
  cursor: pointer;
  background-color: rgb(249, 183, 183);
  border-radius: 25px;
  align-items: center;
  background-color: none;
  justify-content: center;
}

.nav-bar {
  display: none;
  padding-top: 0;
  transition: 0.2s;
}

.nav-bar ul {
  display: block;
  width: auto;
  margin: 80px auto 0 auto;
  text-align: center;
  transition: 0.5s;
  list-style-type: none;
  font-size: 25px;
  align-items: center;
  padding-left: 0px;
}

.nav-bar ul li {
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0px;
}

.nav-bar ul li a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  text-decoration: none;
}

.nav-bar ul li a:hover {
  color: blue;
  background-color: white;
}

.nav-bar.active {
  display: block;
}

.nav-bar ul li a.active {
  color: blue;
  background-color: white;
}

.socials {
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social {
  height: 50px;
  margin: 15px;
}

ul.show {
  display: block;
}
