html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  font-size: 40px;
}

.entire {
  display: flex;
  flex-direction: column;
}

:root {
  --border: solid black 1px;
  --box-shadow: 6px 7px 17px -3px rgba(0, 0, 0, 0.63);
}

#ham {
  display: block;
  position: fixed;
  color: rgb(0, 0, 0);
  border-radius: 0px 30px 30px 0px;
  background-color: rgba(239, 116, 116, 0.887);
  width: 40px;
  left: 0;
  font-size: 2rem;
  padding: 5px;
}

#ham:active {
  transform: rotateY(30deg);
}

.nav {
  display: block;
  position: fixed;
  width: 175px;
  background-color: rgba(239, 116, 116, 0.887);
  top: 40px;
  left: 25px;
  border-radius: 50px;
  transition: opacity;
}

.hidden {
  display: none;
}

.navtransclose {
  animation: opac 0.5s linear;
}

@keyframes opac {
  0% {
    opacity: 1;
    width: 175px;
    height: 230px;
  }

  100% {
    opacity: 0.4;
    width: 50px;
    height: 50px;
  }
}

.navtransopen {
  animation: opac2 0.5s linear;
}

@keyframes opac2 {
  0% {
    opacity: 0.4;
    width: 50px;
    height: 50px;
  }

  100% {
    opacity: 1;
    width: 175px;
    height: 230px;
  }
}

.nav > ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
}

nav > ul > li {
  text-decoration: none;
  line-height: 30px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

nav > ul > li > a:active {
  color: white;
  background-color: none;
}

/* -------------HERO SECTION STYLES------------ */

.hero {
  background-color: rgb(249, 183, 183);
  color: white;
  height: auto;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: var(--border); */
}
.my_image {
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
  border: solid white 3px;
  background-color: lightgrey;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: var(--border); */
  padding: 20px;
  margin: 10px;
}

.hero-text > article {
  text-align: justify;
  padding: 10px;
}

/* -----SUB SECTION STYLES-------- */

.sub-section {
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: var(--border); */
}

.sub-section > h1,
.sub-section-alternative > h1 {
  font-size: 25px;
  border-bottom: solid rgb(254, 156, 51) 2px;
  border-top: solid rgb(254, 156, 51) 2px;
}

.display_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--border);
  padding: 15px;
  margin: 15px;
  box-shadow: var(--box-shadow);
}

.display_card > h1 {
  font-size: 1.2rem;
}

.degree_name,
.project_name {
  text-align: center;
}

.display_card > img {
  height: 100px;
  width: 100px;
  margin: 15px;
  border-radius: 50%;
}

.institute_name {
  text-align: center !important;
  padding: 10px;
  font-size: 1rem;
}

.display_card > article {
  text-align: justify;
  padding: 10px;
  font-size: 1rem;
}

.display_card > button {
  background-color: rgb(107, 62, 149);
  border-radius: 10px;
  height: 40px;
  animation: btn 3s linear 0s infinite;
}

@keyframes btn {
  0% {
    background-color: rgb(107, 62, 149);
  }

  50% {
    background-color: brown;
  }

  100% {
    background-color: rgb(107, 62, 149);
  }
}

.display_card > button > a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.display_card > button:active {
  font-size: 1rem;
}

hr {
  display: none;
  color: black;
  border: var(--border);
  width: 85%;
  height: 10px;
  background-color: brown;
}

.project_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: var(--border); */
  width: auto;
  height: auto;
}

#project_image {
  width: 250px;
  height: 220px;
  border-radius: 0%;
}

.left_arrow,
.right_arrow {
  border-radius: 50%;
}

.project_image_container > .button1 {
  width: 15px;
  height: 15px;
}

.project_image_container > .button1:hover {
  background-color: rgb(49, 241, 152);
}

.horizon_box {
  display: flex;
  flex-direction: column;
}

.horizon_box > .display_card > ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

li {
  font-size: 1rem;
}

/* -----------SUB SECTION ANTERNATIVE STYLES------ */

.sub-section-alternative {
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: var(--border); */
}

/* ----------------------FOOTER SECTION STYLES--------- */

footer {
  height: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(102, 86, 136);
  color: white;
  text-align: center;
  /* border: var(--border); */
}

form {
  width: auto;
}

.form_input {
  height: 50px;
  border-radius: 15px;
  margin: 10px;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.text {
  height: 150px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: pink;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  /* box-shadow: var(--box-shadow); */
}

.button:hover {
  background-color: crimson;
}

.button:active {
  background-color: darkslategray;
  color: rgb(157, 54, 157);
}

.socials {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: var(--border); */
}

.social {
  height: 50px;
  margin: 15px;
  /* border: var(--border); */
}

a {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
  font-size: 25px;
  color: aliceblue;
}

@media only screen and (min-width: 800px) {
  body {
    justify-content: center;
    font-size: 60px;
    /* display: none; */
  }

  .entire {
    width: 800px;
    justify-content: center;
    justify-self: center;
  }

  .my_image {
    height: 300px;
    width: 300px;
  }

  .display_card {
    box-shadow: none;
    border: none;
  }

  hr {
    display: block;
  }

  #project_image {
    width: 500px;
    height: 440px;
  }

  .project_image_container > .button1 {
    width: 30px;
    height: 30px;
  }

  .horizon_box > hr {
    display: none;
  }

  .horizon_box > .display_card {
    width: 250px;
  }

  .horizon_box {
    display: flex;
    flex-direction: row;
    /* border: var(--border); */
    justify-content: center;
    align-items: center;
  }

  #ham {
    display: flex;
    position: fixed;
    color: rgb(0, 0, 0);
    border-radius: 0px 30px 30px 0px;
    background-color: rgba(239, 116, 116, 0.887);
    width: 50px;
    height: 30vh;
    left: 0;
    top: 35vh;
    font-size: 2rem;
    padding: 5px;
    align-items: center;
  }

  .nav {
    display: flex;
    position: fixed;
    width: 175px;
    background-color: rgba(239, 116, 116, 0.887);
    height: 30vh;
    top: 35vh;
    left: 70px;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hidden {
    display: none;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-between;
  }
}
